.editor-container {
  min-height: 100vh;
  background: #ffffff;
}

.editor {
  min-height: 100vh;
}

.editor textarea {
  outline: none;
  opacity: 1 !important;
  z-index: 1;
  position: relative;
}

.editor-textarea {
  opacity: 1 !important;
}